.line,
.line * {
  box-sizing: border-box;
}
.line {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 8px;
  position: relative;
}

.container,
.container * {
  box-sizing: border-box;
}
.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
