.instructionContainer {
  text-align: center;
}
.instruction {
  color: #222222;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}
.highlight {
  color: #ff4400;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}

.sentDiv4 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.list {
  background: #ffffff;
  border-style: solid;
  border-color: #dddddd;
  border-width: 0px 0px 1px 0px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div16 {
  color: #222222;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.phoneEmail {
  color: #222222;
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.list2 {
  background: #ffffff;
  border-style: solid;
  border-color: #dddddd;
  border-width: 0px 0px 1px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.messageInfo {
  color: #222222;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.message2 {
  color: #222222;
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.linkDiv {
  color: #ff4400;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  position: relative;
}
.link {
  color: #ff4400;
  text-align: right;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
